<header class="header-nav">
    <div>
        <a href="/"><img class="logo" src="/images/logo.png" alt="logo"></a>
    </div>
    <nav class="navbar_links">
        <ul class="menu">
            <li><a href="/users">Users</a></li>
            <li><a href="/users/new">Add User</a></li>
            <li><a href="/tasks">Tasks</a></li>
            <li><a href="/tasks/new">Add Task</a></li>
        </ul>
    </nav>
</header>
