<h2 class="page-header-home">Organize it all with ToDoList</h2>

<div class="page-header-home">
    <input  class="btn btn-primary" type="button" onclick="location.href='/users'" value="Get Started" />
</div>